{% load static %}
<!--project/templates/project/base.html template-->

<html>
  <head>
    <title>Netflix Recommender</title>
    <!-- Linking to the CSS file in the static folder -->
    <link rel="stylesheet" href="{% static 'styles_entertainment.css' %}" />
  </head>
  <body>
    <header>
        <!-- Creating a navbar for project that contains links that all pages can view -->

      <nav class="navbar">
        <div class="net">
          <h1>Netflix Recommender</h1>
        </div>
        <!-- Creates links for the navbar so users can go through the site easily -->
    <!-- start nav links -->

        <ul class="nav-links">
          <li><a href="{% url 'all_entertainment' %}">All Entertainment</a></li>
          <li><a href="{% url 'users' %}">Profiles</a></li>
          <li><a href="{% url 'top_10' %}">Top 10</a></li>
          <li><a href="{% url 'top_5' %}">Monthly Top 5</a></li>
          <li><a href="{% url 'searched_list' %}">Search Entertainment</a></li>
          <!-- only show the profile and feed if they are logged in and their login credentials match that profile-->
          {% if request.user.is_authenticated %} {% if user.person %}
          <li><a href="{% url 'person' user.person.pk %}">My Profile</a></li>
          <li>
            <a href="{% url 'rec_feed' %}">See What Your Friends Reccommend</a>
          </li>
          <li>
            <!-- form for logging the user out that should only be showed if the user is logged in -->
            <form
              method="POST"
              action="{% url 'logout_url' %}"
              class="logout-form"
            >
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          <!-- if the user is not logged in show the login or sign up button  -->
          {% endif %} {% else %}
            <a class="login" href="{% url 'login_url' %}">Login or Sign Up</a>
          {% endif %}
        </ul>
        <!-- end nav links -->
      </nav>
    </header>
<!-- this is for the content that will go across all pages in my project  -->
    <div class="info-main">
      {% block content %} {% endblock content %}
    </div>

  </body>
  <!-- this is a footer that establishes that I made the site  -->
</html>

