<!--project/templates/project/create_rec_form.html template-->

{% extends "project/base.html" %}

{% block content %}
<!-- Create a recommendation template -->
<div class="info-main">
    <h2 class="status-h2">Create a Recommendation</h2>
<!-- this is a form for creating recommendations-->
    <form method="POST" enctype="multipart/form-data" class="recommendation-form">
        {% csrf_token %}
        
        <!-- this will loop through all the entertainments and allow their title to be an option for a user to choose to recommend for -->
        <div class="form-group">
            <label for="entertainment" class="form-lab">Choose Entertainment:</label>
            <!-- create a select to be able to select the entertainment-->
            <select id="entertainment" name="entertainment" class="form-input">
                {% for entertainment in entertainment_list %}
                    <option value="{{ entertainment.pk }}">{{ entertainment.title }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- show the form field as a paragraph-->
        {% for field in form %}
        <tr>
            <div class="create-rec">
            <th>{{ field.label }}:</th>
            <td>{{ field }}</td>
            </div>
        </tr>
    {% endfor %}
    <tr>
        <th>Choose Files:</th>
     <td class="files-style">
          <input type="file" name="files" multiple />
        </td>
    </tr>
    <div class="up-prof">
        <a href="{% url 'person' person.pk %}">
            <!-- upon being pressed this button will take the user back to the page with all the entertainment -->
            <button type="button" class="btn-cancel">Cancel</button>
        </a>
        <!-- submit button for submitting the new recommendation -->
        <button type="submit" class="btn-submit">Submit</button>
    </div>
    </form>
</div>
{% endblock %}
