<!-- Rachel Cherry -->
<!-- rcherry@bu.edu -->
<!--project/templates/project/delete_rec_form.html template-->

{% extends 'project/base.html' %}

{% block content %}

<html>
<body>
<!--This is a template for deleting a recommendation -->

<div class="info-main">
    <br>
    <h2 class="status-h2">Do you want to Delete this Recommendation?</h2>
    <!--Show a confirmation page with the recommendation to ensure that the user wants to delete it-->
    <div class="delete-content">
    <p> Thoughts: {{ recommendation.thoughts }}</p>
    <p> Rating: {{ recommendation.rating }}</p>
   <p> Would you recommend?  {{ recommendation.recommend }}</p>
</div>
<!-- this is the form for submitting the deletion that django handles via the built in deleteview in the views file-->
<div class="up-prof">
        <!-- this is the cancel button if they do not want to delete it and it will go back to the person's profile page-->
        <form method="GET" action="{% url 'see_recs' person.pk %}">
            <button type="submit" class="btn-cancel">Cancel</button>
        </form>
        <!--this will allow submission to delete the recommendation-->
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn-submit" value="Delete Recommendation!">
        </form>
    </div>

</div>

</body>
</html>
{% endblock %}