<!--project/templates/project/show_entertainment.html template-->

{% extends 'project/base.html' %}
<!--This template will show an individual entertainment-->
{% block content %}

<div class="info">
    <h1>Information for {{ r.title }}</h1>
</div>
<!-- this section will create a table for an entertainment-->
    <div class="ent-info">
        <h1>Entertainment Details</h1>
        <hr>
        <table>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Release Date</th>
                    <th>Description</th>
                    <th>Cast List</th>
                    <th>Director</th>
                    <th>Type</th>
                </tr>
                <tr>
                    <td>{{ r.title }}</td>
                    <td>{{ r.duration }}</td>
                    <td>{{ r.release_year }}</td>
                    <td>{{ r.description }}</td>
                    <td>{{ r.cast }}</td>
                    <td>{{ r.director }}</td>
                    <td>{{ r.type }}</td>
                </tr>
        </table>
<!-- this section will show the recommendations from various anonymous users-->
    <div class="recommendations">
        <h1>What People Think About This Movie</h1>
        <table>
                <tr>
                    <th>Thoughts</th>
                    <th>Rating</th>
                    <th>Recommended</th>
                </tr>
                {% if r.get_recommendation %}
                {% for recommendation in r.get_recommendation %}
                <tr>
                    <td>{{ recommendation.thoughts }}</td>
                    <td>{{ recommendation.rating }}</td>
                    <td>{{ recommendation.recommend }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No recommendations yet.</td>
                </tr>
            
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <h1>Watch The Trailer!</h1>
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 15px">
    <iframe 
    width="800" 
    height="500" 
    src="{{r.trailer}}" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
{% endblock %}
