<!--project/templates/project/show_all_people.html template-->

{% extends 'project/base.html' %}
<!-- this template will show all the profiles in the application-->
{% block content %}
<div class="layout-for-prof">
    <!-- loop through all of the profiles-->
    {% for p in profiles %}
        <div class="ind-prof">
            <!--link to the person's profile through their photo, name, and other information-->
            <a href="{% url 'person' p.pk %}" class="profile-link">
                <!-- this will contain all of the information for a profile-->
                <div class="profile-info">
                    {% if p.image_url %}
                        <img class="person-pic" src="{{ p.image_url }}">
                    {% endif %}
                    <!--include the personal information about the user (name, email, address)-->
                    <h2 class="person-name">{{ p.first_name }} {{ p.last_name }}</h2>
                    <p class="person-email">{{ p.email }}</p>
                    <p class="person-address">{{ p.address }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
