<!--Base template for other templates-->
{% load static %}
<html>
    <head>
        <title>Ilona</title>
        <!-- Linking to the CSS file in the static folder -->
        <link rel="stylesheet" href="{% static 'stylesforms.css' %}">
    </head>
    

    <body>
        <header>
            <!--Creates a nav bar for the links-->
            <nav>
                <!--Unordered list called pages so it can be styles correctly in the nav bar-->
                <ul class="pages">
                    <li><a class="atags" href="{% url 'main' %}">Home Page</a></li>
                    <li><a class="atags" href="{% url 'order' %}">Order Here</a></li>
                </ul>
            </nav>
        </header>

        <!-- Content block where templates get insert content -->
        {% block content %}
        {% endblock content %}
        <footer>
        </footer>
    </body>
</html>
