{% extends 'restaurant/base.html' %}
{% block content %}
<html>
<body>
<h1>Welcome to Ilona, Boston's premiere Mediterranean Restaurant!</h1>
<h3 class="location">We are located at 783 Tremont St, Boston, MA 02118 </h3>

<!--Picture of restaurant-->
<img src="/static/ilona.webp">
<ul> 
<h4>Hours of Operation:</h4>
Monday: 5-10 PM<br>
</li>
<li>
Tuesday: 5-10 PM<br>
<li>
Wednesday: 5-10 PM<br>
</li>
<li>
Thursday: 5-10:30 PM <br>
</li>
<li>
Friday: 4-11 PM <br>
</li>
<li>
Saturday: 11 AM-11 PM <br>
</li>
<li>
Sunday: 11 AM-10 PM <br>
</li>
</ul>

</body>


</html>
{% endblock %}