<!--Base template for other templates-->
{% load static %}
<html>
    <head>
        <title>Ilona</title>
        <!-- Linking to the CSS file in the static folder -->
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    

    <body>
       <header> 
            <!--Creates a nav bar for the links-->
            <nav> 
                <!--Unordered list called pages so it can be styles correctly in the nav bar-->
                <ul class="pages">
                    <li><a class="atags" href="{% url 'show_all' %}">Show All</a></li>
                    <li><a class="atags" href="{% url 'random' %}">Random</a></li>
                    <li><a class="atags" href="{% url 'create_article' %}">Create Article</a></li>
                </ul>
            </nav>
        </header>

        <!-- Content block where templates get insert content -->
        {% block content %}
        {% endblock content %}
        <footer>
        </footer>
    </body>
</html>
