{% extends 'blog/base.html' %}
{% block content %}
<h2>Login</h2>
<!--a very basic authentication form-->

<form method="POST" action="{% url 'login' %}">

{% csrf_token %}
{{form}}
<!-- what to do after login sucess-->
 {% if request.GET.next %}
 <input type="hidden" name="next" value="{{request.GET.next}}">
 {% else %}
<input type="hidden" name="next" value="{% url 'show_all' %}">
{% endif %}
<input type="submit" value="Login">

</form>
<hr>
Don't have an account yet? 

<a href="{% url 'register' %}">Register here</a>
{% endblock %}