<!--blog/templates/blog/show_all.html-->
{% extends 'blog/base.html' %}

{% block content %}
<html>
<body>
<h1>Showing all articles</h1>

<main class="grid-container"> <!--was <div>-->
{% for a in articles %} 
<article>
    <a href="{% url 'article' a.pk %}"> <!-- nickname for page that should show its own article-->

        <img src="{{a.image_file.url}}" alt="{{a.image_file.url}}">
    <div>
    <h2>
        <a href="{% url 'article' a.pk %}"> {{a.title}}</a>
        </h2>
        <h3>{{a.author}} at {{a.published}}</h3>
    <p>{{a.text}}</p>

</div>
    </article> <!--was a div-->

{% endfor %} 

</main>
</body>
</html>
{% endblock %}