{% extends 'mini_fb/base.html' %}

{% block content %}

<h2 class="news-h2">News Feed for {{ profile.first_name }} {{profile.last_name}}</h2>
<br>
<a class="prof-return" href="{% url 'profile' profile.pk%}">Back to {{profile.first_name}}'s Profile</a>
<br> 
 
<div class="news">
{% if profile.get_news_feed %}
<ul>
    {% for status in profile.get_news_feed %}
    <li>
        {% if status.profile.image_url %}
        <img class="feed-pic" src='{{ status.profile.image_url }}' alt='{{status.profile.image_url }}'>
        {% endif %}
        <h3 class="news-h3">{{status.profile.first_name}} {{status.profile.last_name}} <p>Created at: {{ status.timestamp }}</p></h3>
        <h3><strong>{{ status.message }}</strong></h3>
        
        <div>
            {% if status.get_images %}
            <div class="image-status">
                {% for img in status.get_images %}
                <img src="{{ img.image_file.url }}" alt="{{ img.image_file.url }}" class="size-image">
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </li>
    <br>
    <hr>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>No feed available.</p>
{% endif %}

</div>


{% endblock %}
