<!--mini_fb/templates/mini_fb/show_all.html template to display the profiles-->
<!-- Rachel Cherry -->
<!-- rcherry@bu.edu -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<html>
<body>

<main class="grid-container"> <!--was <div>-->
{% for p in profiles %} 
<profile> <!--was a div-->
    <div class="profile_info">
    <img src="{{p.image_url}}">
    <h2>{{p.first_name}} {{p.last_name}}</h2>
    <h3>{{p.email}}</h3>
    <h3>{{p.city}}</h3>
    
</div>
</profile> <!--was a div-->


{% endfor %} 
</main>
</body>
</html>
{% endblock %}