<!-- Rachel Cherry -->
<!-- rcherry@bu.edu -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<html>
<body>
<main class="grid-container"> <!--was <div>-->
   

<profile class="featured">
    
    <div>
        
    <img class="profile-pic-ind" src="{{profile.image_url}}" alt="{{profile.image_url}}" >
    <h2>{{profile.first_name}} {{profile.last_name}}</h2>
    <h3>Location: {{profile.city}}</h3>
    <h3>Contact: {{profile.email}}</h3>

</div>

    <br>
    <div class="buttons-updating">
<a class="button-update" href="{% url 'update_profile' profile.pk%}"><h3>Update the Profile for {{profile.first_name}}</h3></a>
<a class="button-update" href="{% url 'create_status' profile.pk%}"><h3>Create New Status Message for {{profile.first_name}}</h3></a>
<a class="button-update" href="{% url 'friend_suggestion' profile.pk%}"><h3>Friend Suggestions for {{profile.first_name}}</h3></a>
</div></div>
<br>


</profile> <!--was a div-->
<br>
<hr>
<br>
<div style="text-align: center;">
<h2 class="friends-h2">Friends of {{profile.first_name}} {{profile.last_name}}</h2>

<div class="friend-style">
{% if profile.get_friends %}
    {% for friend in profile.get_friends %}
        <div class="friends">
                <a href="{% url 'profile' friend.pk %}"> 
            <img class="friend-img" src="{{friend.image_url}}">
            </a>
            <br>
            <a class="friend-tags" href="{% url 'profile' friend.pk %}"> 
            {{friend.first_name}} {{friend.last_name}}
            </a>
            <br>
        </div>
    {% endfor %}
{% else %}
    <p>{{profile.first_name}} has no friends yet!</p>
{% endif %}
</div>
</div>
<div></div>
<br>
<hr>
<br>


<div class="status">
    <h2 class="status-h2">Status Messages</h2>
    {% if profile.get_status_messages %}
    {% for p in profile.get_status_messages %}
        <div>
      
            <p><strong>Message: {{p.message}}</strong></p>
            <p>Created at: {{ p.timestamp }}</p>
        
                {% if p.get_images %}
                <div class="image-status">
                    {% for img in p.get_images %}

                        <img src='{{ img.image_file.url }}' alt='{{ img.image_file.url }}' class="size-image">
                    {% endfor %}
                </div>
                <br>
            {% endif %}
            <a class="atag-button" href="{% url 'delete_status' p.pk %}">Delete</a>
            <a class="atag-button" href="{% url 'update_status' p.pk %}">Update</a>
            <br>
        </div>
    {% endfor %}
{% else %}
    <p>No status messages.</p>
{% endif %}


    </div>
</main>
</body>
</html>
{% endblock %}