<!--mini_fb/templates/mini_fb/show_all.html template to display the profiles-->
<!-- Rachel Cherry -->
<!-- rcherry@bu.edu -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<html>
<body>

<main class="grid-container"> <!--was <div>-->
{% for p in profiles %} 
<profile> <!--was a div-->
    <div class="profile_info">
    <a href="{% url 'profile' p.pk %}"> 
        {% if p.image_url %} 
        <img class="profile-pic" src="{{p.image_url}}" alt="{{p.image_url}}"></a>    
        {% endif %}
    <a href="{% url 'profile' p.pk %}"> <h2>{{p.first_name}} {{p.last_name}}</h2></a>

    <h3>{{p.email}}</h3>
    <h3>{{p.city}}</h3>
    
</div>
</profile> <!--was a div-->


{% endfor %} 
</main>
</body>
</html>
{% endblock %}