<!--inherits the base template-->
{% extends 'quotes/base.html' %}
<!--Actual content for the about page-->
{% block content %}
    <h1> About Page</h1>
    <h2> Who is Michelle Obama </h2>
    <p> This page is about Michelle Obama. Michella Obama was born in 1964 and was born and raised in Chicago. She is attended Harvard Law School where she became an attorney. She is also the former first lady of the United States. She is married to Barack Obama who was the 44th president. Michella Obama has been an important influence for young females across the country for many years. She advocates for a balance between working and family, healthy eating, and education. </p>
  <h2> A Bit About The Author of This Page </h2>
  <p> My name is Rachel Cherry, and I am the author of this page. I am a Computer Science major at Boston Unviersity. I have always looked up to Michelle Obama and wanted to share her amazing quotes with the world! </p>
{% endblock %}
