{% extends 'quotes/base.html' %}
{% block content %}
    <h1> About Page</h1>
    <h2> A Bit About Michelle Obama </h2>
    <p> This page is about Michelle Obama. Michella Obama was born in 1964 and was born and raised in Chicago. She isan attounrye and former first lasy of the United STates. She is married to Barack Obama. Michella Obama has been an important influence for young females across the country for many years. </p>
  <h2> A Bit About The Author of This Page </h2>
  <p> My name is Rachel Cherry, and I am the author of this page. I am a Computer Science major at Boston Unviersity. I have always looked up to Michelle Obama and wanted to share her amazing quotes with the world!</p>
{% endblock %}
